@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 490px) {
    body {
        width: 100%;
        height: 100vh;
        background: rgb(44,135,186);
        background-image: url(./img/patas.png);
        background-repeat: nor;
    }

    .logo {
        display: flex;
        justify-content: center;
        position: relative;
        top: 110px;
    }

    .logo img {
        width: 30%;
    }

    .inicial-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: rgba(42,84,122,0.5);

        width: auto;
        height: auto;
        padding: 20px;
        padding-bottom: 70px;
        border-radius: 20px;
        margin: 30px;
        margin-bottom: 20px;
    }

    .titulo img {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    .sub-titulo p {
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        color: #ECEEEF;
    }



    .btn-submit {
        font-family: 'Cabin', sans-serif;
        outline: none;
        border: 2px solid #ECEEEF;
        background-color: #44BCFF;
        padding: 6px 10px;
        border-radius: 20px;
        width: 220px;
        color: #ECEEEF;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop {
        display: none;
    }
}

@media (min-width: 491px) {

    .titulo {
        display: none;
    }

    .sub-titulo {
        display: none;
    }

    .img-top {
        display: none;
    }
    
    .container {
        display: none;
    }

    .img-bottom {
        display: none;
    }

    body {
        width: 100%;
        height: 100vh;
        background: rgb(44,135,186);
        background-repeat: nor;
    }

    .desktop {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


}