@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 490px) {
    body {
        width: 100%;
        height: 100vh;
        background: rgb(44,135,186);
        background-image: url(./img/patas.png);
        background-repeat: nor;
    }

    .logo {
        display: flex;
        justify-content: center;
        position: relative;
        top: 80px;
    }

    .logo img {
        width: 35%;
    }

    .inicial-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: rgba(42,84,122,0.5);

        width: auto;
        height: auto;
        padding: 20px;
        padding-bottom: 140px;
        border-radius: 20px;
        margin: 0px 30px;
        margin-bottom: 20px;
    }

    .titulo img {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    .sub-titulo p {
        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        color: #ECEEEF;
        text-align: center;
    }

    .p-tabela {
        margin-top: 50px;

        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        color: #ECEEEF;
        text-align: center;
    }

    .img-tabela {
        margin-top: 20px;

        width: 100%;
    }

    .pix {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-pix  {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin-bottom: 12px;
    }

    .titulo-pix p {
        margin-top: 25px;

        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        color: #ECEEEF;
        text-align: center;
    }

    .titulo-pix input {
        background: none;
        border: none;
        padding-left: 10px;
        width: 150px;

        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        color: #ECEEEF;

        outline: #44BCFF;
    }

    .swal2-popup {
        font-family: 'Cabin', sans-serif;
        width: 300px !important;
      }

    .pix button {
        font-family: 'Cabin', sans-serif;
        outline: none;
        border: 2px solid #ECEEEF;
        background-color: #64B3D7;
        padding: 4px;
        border-radius: 8px;
        width: 150px;
        color: #ECEEEF;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .confirmar a {
        margin-top: 60px;

        font-family: 'Cabin', sans-serif;
        outline: none;
        border: 2px solid #ECEEEF;
        background-color: #44BCFF;
        padding: 6px 10px;
        border-radius: 20px;
        width: 220px;
        color: #ECEEEF;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .image {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 170px;
    }

    .image img {
        width: 90%;
    }

    .desktop {
        display: none;
    }
}

@media (min-width: 491px) {

    .titulo {
        display: none;
    }

    .sub-titulo {
        display: none;
    }

    .img-top {
        display: none;
    }
    
    .container {
        display: none;
    }

    .img-bottom {
        display: none;
    }

    body {
        width: 100%;
        height: 100vh;
        background: rgb(44,135,186);
        background-repeat: nor;
    }

    .desktop {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        display: none;
    }

}